<%= form_for(@register) do |f| %>


    <h2>First Name:</h2>
    <%= f.text_field :first_name, class: 'form-control' %>
    <h2>Last Name:</h2>
    <%= f.text_field :last_name, class: 'form-control' %>
    <h2>Email:</h2>
    <%= f.text_field :email, class: 'form-control' %>
    <br>
    <%= f.submit 'Register', class: 'btn register' %>
<% end %>
