!!!
%html
  %head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "author"}
  %title Live Love Laugh | Conference Signup
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to inline_svg('logo.svg'), root_path, class: 'navbar-brand'

    = yield
    
    %footer
      .container
        .row
          .col-md-10.col-md-offset-1
            %p © 2016 - All Rights Reserved. Live &hearts; Love &hearts; Laugh
            %p
              = link_to 'Spring of Life Fellowship', 'http://solmiami.org', target: "_blank"
